---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      # - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: install-dependencies
        name: Install dependencies
        entry: bash -c 'pip install gitlint==0.19.1'
        language: system
        always_run: true

      - id: gitlint
        name: Run gitlint
        entry: gitlint
        language: python
        stages: [commit-msg]
        args: [--contrib=CT1, --msg-filename]

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      # - id: go-fmt
      # - id: go-imports
      #- id: no-go-testing
      - id: golangci-lint
      - id: go-unit-tests
