shutdown_timeout: 120s
client_http_server:
  port: 2534
  cors:
    allow_origins:
admin_http_server:
  port: 2535
  cors:
    allow_origins:
logger:
  file_path: "/logs/notification/logs.json"
  use_local_time: false
  file_max_size_in_mb: 10
  file_max_age_in_days: 30
  max_backup: 0
  compress: false
  write_in_console: true
postgres:
  host: "localhost"
  port: 11579
  db_name: notification_db
  password: "8SHDSgdihmMH9EQsXfRZzLHes3F3kgxa"
  username: LoPgYJqYGZ53
  ssl_mode: disable
  max_idle_conns: 10
  max_open_conns: 20
  conn_max_lifetime: 600s
  path_of_migration: "app/notificationapp/repository/migrations"
redis:
  host: "localhost"
  port: 12434
  password: "Z9265UQfrFiCYWMMJF4uvTEmJA7rEauJ"
websocket:
  read_buffer_size: 1024
  write_buffer_size: 1024
notification:
  user_id_cache_expiration: 3600s
  channel_name: notification
  write_wait: 10s
  pong_wait: 60s
  max_message_size: 512
  user_connection_limit: 5
  publish_timeout: 10s
  default_user_language: fa
  template_cache_expiration: 3600s
get_user_id_url: "http://localhost:8000/api/v1/accounts/get-user-id/"