---
name: "example-observability"

networks:
  web_app:

services:
  collector:
    container_name: collector
    image: otel/opentelemetry-collector:0.140.1
    volumes:
      - ./otelcol.yaml:/etc/otelcol/config.yaml
    depends_on:
      jaeger:
        condition: service_healthy
    ports:
      - 4317:4317
      - 4318:4318
    networks:
      - web_app

  jaeger:
    container_name: jaeger
    image: jaegertracing/all-in-one:1.75.0
    environment:
      JAEGER_PROPAGATION: w3c
    ports:
      - 16686:16686
    healthcheck:
      test: [CMD, wget, -q, -S, -O, "-", "localhost:14269"]
    networks:
      - web_app

  postgres:
    image: postgres:18
    container_name: manager_postgres
    hostname: manager_postgres
    command: -p ${MANAGER_POSTGRES__PORT}
    restart: always
    environment:
      - POSTGRES_DB=${MANAGER_POSTGRES__DB_NAME}
      - POSTGRES_USER=${MANAGER_POSTGRES__USERNAME}
      - POSTGRES_PASSWORD=${MANAGER_POSTGRES__PASSWORD}
    ports:
      - ${MANAGER_POSTGRES__PORT}:${MANAGER_POSTGRES__PORT}
    networks:
      - web_app
