name: "roomix-development"

networks:
  web_net:
    name: web_net
    external: true
  app_net:
    name: web_net
    external: true

services:
  postgres:
    image: postgres:18
    container_name: roomix_postgres
    hostname: roomix_postgres
    command: -p 5432
    restart: always
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    ports:
      - 5432:5432
    networks:
      - app_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test -d test"]
      interval: 10s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4:9.10
    container_name: pgadmin4_container
    restart: always
    ports:
      - 5565:80
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@roomix.club
      PGADMIN_DEFAULT_PASSWORD: pgadmin_password
    networks:
      - app_net
      - web_net
