---
name: "quick-connect-all-in-one"

volumes:
  all_in_one_postgres_data:

networks:
  app_net:
    external: true
  web_net:

services:
  postgres:
    image: postgres:18
    container_name: all_in_one_postgres
    hostname: ${MANAGER_POSTGRES__HOST}
    command: -p ${MANAGER_POSTGRES__PORT}
    restart: always
    environment:
      - POSTGRES_DB=${MANAGER_POSTGRES__DB_NAME}
      - POSTGRES_USER=${MANAGER_POSTGRES__USERNAME}
      - POSTGRES_PASSWORD=${MANAGER_POSTGRES__PASSWORD}
    volumes:
      - all_in_one_postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - app_net
    healthcheck:
      test: [CMD-SHELL, "sh -c 'pg_isready -U ${MANAGER_POSTGRES__USERNAME} -d ${MANAGER_POSTGRES__DB_NAME} -p ${MANAGER_POSTGRES__PORT}'"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8.4.0
    container_name: redis
    hostname: ${ALL_IN_ONE_REDIS__HOST}
    restart: always
    command: redis-server --requirepass ${ALL_IN_ONE_REDIS__PASSWORD} --port ${ALL_IN_ONE_REDIS__PORT}
    environment:
      REDIS_PASSWORD: ${ALL_IN_ONE_REDIS__PASSWORD}
      REDIS_PORT: ${ALL_IN_ONE_REDIS__PORT}
    volumes:
      - ./redis.conf:/usr/local/etc/redis.conf
    networks:
      - app_net
    healthcheck:
      test: [ "CMD", "redis-cli", "-h", "localhost", "-p", "${ALL_IN_ONE_REDIS__PORT:?error}", "-a", "${ALL_IN_ONE_REDIS__PASSWORD:?error}", "PING" ]
      interval: 5s
      timeout: 5s
      retries: 10

  init:
    image: syntaxfa/quickconnect-all-in-one:1.0.3
    container_name: init
    command: >
      /bin/sh -c "
      ./all-in-one manager migrate up &&
      ./all-in-one chat migrate up &&
      ./all-in-one notification migrate up &&
      ./all-in-one manager create-user --username=${SUPERUSER_USERNAME} --password=${SUPERUSER_PASSWORD} --fullname=${SUPERUSER_FULLNAME} --email=${SUPERUSER_EMAIL} --phone_number=${SUPERUSER_PHONE_NUMBER} --role=${SUPERUSER_ROLE}
      "
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app_net
    environment:
      # manger configuration
      # postgres
      - MANAGER_POSTGRES__HOST=${MANAGER_POSTGRES__HOST}
      - MANAGER_POSTGRES__PORT=${MANAGER_POSTGRES__PORT}
      - MANAGER_POSTGRES__DB_NAME=${MANAGER_POSTGRES__DB_NAME}
      - MANAGER_POSTGRES__PASSWORD=${MANAGER_POSTGRES__PASSWORD}
      - MANAGER_POSTGRES__USERNAME=${MANAGER_POSTGRES__USERNAME}
      - MANAGER_POSTGRES__SSL_MODE=${MANAGER_POSTGRES__SSL_MODE}
      - MANAGER_POSTGRES__MAX_IDLE_CONNS=${MANAGER_POSTGRES__MAX_IDLE_CONNS}
      - MANAGER_POSTGRES__MAX_OPEN_CONNS=${MANAGER_POSTGRES__MAX_OPEN_CONNS}
      - MANAGER_POSTGRES__CONN_MAX_LIFETIME=${MANAGER_POSTGRES__CONN_MAX_LIFETIME}
      # chat configuration
      # postgres
      - CHAT_POSTGRES__HOST=${CHAT_POSTGRES__HOST}
      - CHAT_POSTGRES__PORT=${CHAT_POSTGRES__PORT}
      - CHAT_POSTGRES__DB_NAME=${CHAT_POSTGRES__DB_NAME}
      - CHAT_POSTGRES__PASSWORD=${CHAT_POSTGRES__PASSWORD}
      - CHAT_POSTGRES__USERNAME=${CHAT_POSTGRES__USERNAME}
      - CHAT_POSTGRES__SSL_MODE=${CHAT_POSTGRES__SSL_MODE}
      - CHAT_POSTGRES__MAX_IDLE_CONNS=${CHAT_POSTGRES__MAX_IDLE_CONNS}
      - CHAT_POSTGRES__MAX_OPEN_CONNS=${CHAT_POSTGRES__MAX_OPEN_CONNS}
      - CHAT_POSTGRES__CONN_MAX_LIFETIME=${CHAT_POSTGRES__CONN_MAX_LIFETIME}
      # notification configuration
      # postgres
      - NOTIFICATION_POSTGRES__HOST=${NOTIFICATION_POSTGRES__HOST}
      - NOTIFICATION_POSTGRES__PORT=${NOTIFICATION_POSTGRES__PORT}
      - NOTIFICATION_POSTGRES__DB_NAME=${NOTIFICATION_POSTGRES__DB_NAME}
      - NOTIFICATION_POSTGRES__PASSWORD=${NOTIFICATION_POSTGRES__PASSWORD}
      - NOTIFICATION_POSTGRES__USERNAME=${NOTIFICATION_POSTGRES__USERNAME}
      - NOTIFICATION_POSTGRES__SSL_MODE=${NOTIFICATION_POSTGRES__SSL_MODE}
      - NOTIFICATION_POSTGRES__MAX_IDLE_CONNS=${NOTIFICATION_POSTGRES__MAX_IDLE_CONNS}
      - NOTIFICATION_POSTGRES__MAX_OPEN_CONNS=${NOTIFICATION_POSTGRES__MAX_OPEN_CONNS}
      - NOTIFICATION_POSTGRES__CONN_MAX_LIFETIME=${NOTIFICATION_POSTGRES__CONN_MAX_LIFETIME}
      # redis
      - MANAGER_REDIS__HOST=${ALL_IN_ONE_REDIS__HOST}
      - MANAGER_REDIS__PORT=${ALL_IN_ONE_REDIS__PORT}
      - MANAGER_REDIS__PASSWORD=${ALL_IN_ONE_REDIS__PASSWORD}

  quick_connect:
    image: syntaxfa/quickconnect-all-in-one:1.0.3
    container_name: quick_connect
    hostname: quick_connect
    restart: always
    ports:
      - ${ADMIN_HTTP_SERVER__PORT}:${ADMIN_HTTP_SERVER__PORT}
    networks:
      - app_net
      - web_net
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      # manger configuration
      # postgres
      - MANAGER_POSTGRES__HOST=${MANAGER_POSTGRES__HOST}
      - MANAGER_POSTGRES__PORT=${MANAGER_POSTGRES__PORT}
      - MANAGER_POSTGRES__DB_NAME=${MANAGER_POSTGRES__DB_NAME}
      - MANAGER_POSTGRES__PASSWORD=${MANAGER_POSTGRES__PASSWORD}
      - MANAGER_POSTGRES__USERNAME=${MANAGER_POSTGRES__USERNAME}
      - MANAGER_POSTGRES__SSL_MODE=${MANAGER_POSTGRES__SSL_MODE}
      - MANAGER_POSTGRES__MAX_IDLE_CONNS=${MANAGER_POSTGRES__MAX_IDLE_CONNS}
      - MANAGER_POSTGRES__MAX_OPEN_CONNS=${MANAGER_POSTGRES__MAX_OPEN_CONNS}
      - MANAGER_POSTGRES__CONN_MAX_LIFETIME=${MANAGER_POSTGRES__CONN_MAX_LIFETIME}
      # redis
      - MANAGER_REDIS__HOST=${ALL_IN_ONE_REDIS__HOST}
      - MANAGER_REDIS__PORT=${ALL_IN_ONE_REDIS__PORT}
      - MANAGER_REDIS__PASSWORD=${ALL_IN_ONE_REDIS__PASSWORD}
      # http server
      - MANAGER_HTTP_SERVER__PORT=${MANAGER_HTTP_SERVER__PORT}
      - MANAGER_HTTP_SERVER__CORS__ALLOW_ORIGINS=${MANAGER_HTTP_SERVER__CORS__ALLOW_ORIGINS}
      # http server internal
      - MANAGER_INTERNAL_HTTP_SERVER__PORT=${MANAGER_INTERNAL_HTTP_SERVER__PORT}
      - MANAGER_INTERNAL_HTTP_SERVER__CORS__ALLOW_ORIGINS=${MANAGER_INTERNAL_HTTP_SERVER__CORS__ALLOW_ORIGINS}
      # grpc server
      - MANAGER_GRPC_SERVER__PORT=${MANAGER_GRPC_SERVER__PORT}
      - MANAGER_GRPC_SERVER__HOST=${MANAGER_GRPC_SERVER__HOST}
      # grpc interval server
      - MANAGER_GRPC_SERVER_INTERNAL__PORT=${MANAGER_GRPC_SERVER_INTERNAL__PORT}
      - MANAGER_GRPC_SERVER_INTERNAL__HOST=${MANAGER_GRPC_SERVER_INTERNAL__HOST}

      # chat configuration
      # postgres
      - CHAT_POSTGRES__HOST=${CHAT_POSTGRES__HOST}
      - CHAT_POSTGRES__PORT=${CHAT_POSTGRES__PORT}
      - CHAT_POSTGRES__DB_NAME=${CHAT_POSTGRES__DB_NAME}
      - CHAT_POSTGRES__PASSWORD=${CHAT_POSTGRES__PASSWORD}
      - CHAT_POSTGRES__USERNAME=${CHAT_POSTGRES__USERNAME}
      - CHAT_POSTGRES__SSL_MODE=${CHAT_POSTGRES__SSL_MODE}
      - CHAT_POSTGRES__MAX_IDLE_CONNS=${CHAT_POSTGRES__MAX_IDLE_CONNS}
      - CHAT_POSTGRES__MAX_OPEN_CONNS=${CHAT_POSTGRES__MAX_OPEN_CONNS}
      - CHAT_POSTGRES__CONN_MAX_LIFETIME=${CHAT_POSTGRES__CONN_MAX_LIFETIME}
      # redis
      - CHAT_REDIS__HOST=${ALL_IN_ONE_REDIS__HOST}
      - CHAT_REDIS__PORT=${ALL_IN_ONE_REDIS__PORT}
      - CHAT_REDIS__PASSWORD=${ALL_IN_ONE_REDIS__PASSWORD}
      # http server
      - CHAT_HTTP_SERVER__PORT=${CHAT_HTTP_SERVER__PORT}
      - CHAT_HTTP_SERVER__CORS__ALLOW_ORIGINS=${CHAT_HTTP_SERVER__CORS__ALLOW_ORIGINS}
      # grpc server
      - CHAT_GRPC_SERVER__PORT=${CHAT_GRPC_SERVER__PORT}
      - CHAT_GRPC_SERVER__HOST=${CHAT_GRPC_SERVER__HOST}
      # manager grpc client
      - CHAT_MANAGER_APP_GRPC__HOST=${CHAT_MANAGER_APP_GRPC__HOST}
      - CHAT_MANAGER_APP_GRPC__PORT=${CHAT_MANAGER_APP_GRPC__PORT}
      - CHAT_MANAGER_APP_GRPC__SSL_MODE=${CHAT_MANAGER_APP_GRPC__SSL_MODE}
      - CHAT_MANAGER_APP_GRPC__USER_OTEL=${CHAT_MANAGER_APP_GRPC__USER_OTEL}
      # manager internal grpc client
      - CHAT_MANAGER_APP_INTERNAL_GRPC__HOST=${CHAT_MANAGER_APP_INTERNAL_GRPC__HOST}
      - CHAT_MANAGER_APP_INTERNAL_GRPC__PORT=${CHAT_MANAGER_APP_INTERNAL_GRPC__PORT}
      - CHAT_MANAGER_APP_INTERNAL_GRPC__SSL_MODE=${CHAT_MANAGER_APP_INTERNAL_GRPC__SSL_MODE}
      - CHAT_MANAGER_APP_INTERNAL_GRPC__USE_OTEL=${CHAT_MANAGER_APP_INTERNAL_GRPC__USE_OTEL}

      # notification configuration
      # postgres
      - NOTIFICATION_POSTGRES__HOST=${NOTIFICATION_POSTGRES__HOST}
      - NOTIFICATION_POSTGRES__PORT=${NOTIFICATION_POSTGRES__PORT}
      - NOTIFICATION_POSTGRES__DB_NAME=${NOTIFICATION_POSTGRES__DB_NAME}
      - NOTIFICATION_POSTGRES__PASSWORD=${NOTIFICATION_POSTGRES__PASSWORD}
      - NOTIFICATION_POSTGRES__USERNAME=${NOTIFICATION_POSTGRES__USERNAME}
      - NOTIFICATION_POSTGRES__SSL_MODE=${NOTIFICATION_POSTGRES__SSL_MODE}
      - NOTIFICATION_POSTGRES__MAX_IDLE_CONNS=${NOTIFICATION_POSTGRES__MAX_IDLE_CONNS}
      - NOTIFICATION_POSTGRES__MAX_OPEN_CONNS=${NOTIFICATION_POSTGRES__MAX_OPEN_CONNS}
      - NOTIFICATION_POSTGRES__CONN_MAX_LIFETIME=${NOTIFICATION_POSTGRES__CONN_MAX_LIFETIME}
      # redis
      - NOTIFICATION_REDIS__HOST=${ALL_IN_ONE_REDIS__HOST}
      - NOTIFICATION_REDIS__PORT=${ALL_IN_ONE_REDIS__PORT}
      - NOTIFICATION_REDIS__PASSWORD=${ALL_IN_ONE_REDIS__PASSWORD}
      # http server
      - NOTIFICATION_CLIENT_HTTP_SERVER__PORT=${NOTIFICATION_CLIENT_HTTP_SERVER__PORT}
      - NOTIFICATION_CLIENT_HTTP_SERVER__CORS__ALLOW_ORIGINS=${NOTIFICATION_CLIENT_HTTP_SERVER__CORS__ALLOW_ORIGINS}
      # http server internal
      - NOTIFICATION_ADMIN_HTTP_SERVER__PORT=${NOTIFICATION_ADMIN_HTTP_SERVER__PORT}
      - NOTIFICATION_ADMIN_HTTP_SERVER__CORS__ALLOW_ORIGINS=${NOTIFICATION_ADMIN_HTTP_SERVER__CORS__ALLOW_ORIGINS}

      # admin configuration
      # http server
      - ADMIN_HTTP_SERVER__PORT=${ADMIN_HTTP_SERVER__PORT}
      - ADMIN_HTTP_SERVER__CORS__ALLOW_ORIGINS=${ADMIN_HTTP_SERVER__CORS__ALLOW_ORIGINS}
      # manager grpc client
      - ADMIN_MANAGER_APP_GRPC__HOST=${ADMIN_MANAGER_APP_GRPC__HOST}
      - ADMIN_MANAGER_APP_GRPC__PORT=${ADMIN_MANAGER_APP_GRPC__PORT}
      - ADMIN_MANAGER_APP_GRPC__SSL_MODE=${ADMIN_MANAGER_APP_GRPC__SSL_MODE}
      - ADMIN_MANAGER_APP_GRPC__USER_OTEL=${ADMIN_MANAGER_APP_GRPC__USER_OTEL}
      # chat grpc client
      - ADMIN_CHAT_APP_GRPC__HOST=${ADMIN_CHAT_APP_GRPC__HOST}
      - ADMIN_CHAT_APP_GRPC__PORT=${ADMIN_CHAT_APP_GRPC__PORT}
      - ADMIN_CHAT_APP_GRPC__SSL_MODE=${ADMIN_CHAT_APP_GRPC__SSL_MODE}
      - ADMIN_CHAT_APP_GRPC__USER_OTEL=${ADMIN_CHAT_APP_GRPC__USER_OTEL}
      # wg support
      - ADMIN_CHAT_WS_URL="ws://localhost:${CHAT_HTTP_SERVER__PORT}/chats/supports"
