---
name: "notification-development"

volumes:
  notification_postgres_data:
  pgadmin_data:

networks:
  web_net:
    name: web_net
    external: true
  app_net:
    name: web_net
    external: true

services:
  postgres:
    image: postgres:18
    container_name: notification_postgres
    hostname: notification_postgres
    command: -p ${NOTIFICATION_POSTGRES__PORT}
    restart: always
    environment:
      - POSTGRES_DB=${NOTIFICATION_POSTGRES__DB_NAME}
      - POSTGRES_USER=${NOTIFICATION_POSTGRES__USERNAME}
      - POSTGRES_PASSWORD=${NOTIFICATION_POSTGRES__PASSWORD}
    volumes:
      - notification_postgres_data:/var/lib/postgresql/data
    ports:
      - ${NOTIFICATION_POSTGRES__PORT}:${NOTIFICATION_POSTGRES__PORT}
    networks:
      - app_net

  pgadmin:
    image: dpage/pgadmin4:9.10
    container_name: pgadmin4_container
    restart: always
    ports:
      - 5565:80
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@notification.club
      PGADMIN_DEFAULT_PASSWORD: pgadmin_password
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app_net
      - web_net

  redis:
    image: redis:8.4.0
    container_name: redis
    hostname: redis
    restart: always
    command: redis-server --requirepass ${NOTIFICATION_REDIS__PASSWORD} --port ${NOTIFICATION_REDIS__PORT}
    environment:
      REDIS_PASSWORD: ${NOTIFICATION_REDIS__PASSWORD}
      REDIS_PORT: ${NOTIFICATION_REDIS__PORT}
    volumes:
      - ./redis.conf:/usr/local/etc/redis.conf
    ports:
      - ${NOTIFICATION_REDIS__PORT}:${NOTIFICATION_REDIS__PORT}
    networks:
      - app_net
